/* General Styles */
body {
  font-family: 'Poppins', Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #e3f5f1;
  line-height: 1.6;
}

.home-container {
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
}

/* Hero Section */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(135deg, #2a7f6f, #00bcd4);
  color: white;
  padding: 50px;
  border-radius: 15px;
  margin-bottom: 40px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.hero-content {
  max-width: 600px;
}

.hero-title {
  font-size: 4rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  margin-bottom: 20px;
}
.hero-title span {
  color: #00e6ac;
}

.hero-subtitle {
  font-size: 1.4rem;
  margin-bottom: 30px;
  line-height: 1.8;
  color: #f0f0f0;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.hero-button {
  background-color: #2a7f6f;
  color: #fff;
  padding: 15px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.3s ease;
}

.hero-button:hover {
  background-color: #00bcd4;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.hero-button.secondary {
  background-color: #fff;
  color: #2a7f6f;
  border: 2px solid #2a7f6f;
}

.hero-button.secondary:hover {
  background-color: #2a7f6f;
  color: #fff;
}

.hero-image img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 8px 15px 2px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, box-shadow 0.5s ease, filter 0.5s ease;
}

.hero-image img:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 20px 4px rgba(0, 0, 0, 0.2);
  filter: brightness(1.1);
}

.hero-image img {
  animation: fadeInZoom 1s ease-in-out;
}

/* Steps Section */
.steps-section {
  text-align: center;
  margin: 0 auto 60px;
  max-width: 80%;
}

.steps-section h2 {
  font-size: 2.8rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #2a7f6f;
  font-weight: 600;
  margin-bottom: 30px;
}

.steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 50px;
}

.step {
  background-color: #ffffffe4;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, border 0.3s ease;
  text-align: center;
  border: 3px solid transparent;
}

.step:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  background-color: #d6e8e8;
  border: 3px solid #2a7f6f;
}

.step-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.step h3 {
  font-size: 1.8rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
  color: #2a7f6f;
}

.step p {
  font-size: 1.2rem;
  color: #555;
}

/* About Section */
.about-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #d9e9e6;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.about-content {
  max-width: 600px;
}

.about-content h2 {
  font-size: 2.5rem;
  font-family: 'Times New Roman', Times, serif;
  color: #2a7f6f;
  font-weight: 700;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #555;
}
.about-content h3 {
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #2a7f6f;
}

.about-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Career Map Section */
.career-map-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(135deg, #1f594e, #00bcd4);
  color: white;
  padding: 50px;
  border-radius: 15px;
  margin-bottom: 40px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.career-map-content {
  max-width: 600px;
}

.career-map-title {
  font-size: 3.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  margin-bottom: 20px;
}
.career-map-title span {
  color: #00e6ac;
}

.career-map-subtitle {
  font-size: 1.3rem;
  margin-bottom: 30px;
  line-height: 1.8;
  color: #e0f7fa;
}

.career-map-buttons {
  display: flex;
  gap: 20px;
}

.career-map-button {
  background-color: #2a7f6f;
  color: #fff;
  padding: 15px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.3s ease;
}

.career-map-button:hover {
  background-color: #5ca2d5;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.career-map-image img {
  width: 80%;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
  margin-left: 150px;
  box-shadow: 0 8px 15px 2px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, box-shadow 0.5s ease, filter 0.5s ease;
}

.career-map-image img:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 20px 4px rgba(0, 0, 0, 0.2);
  filter: brightness(1.1);
}

.career-map-image img {
  animation: fadeInZoom 1s ease-in-out;
}

.footer {
  background-color: #2b8272;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 30px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin-bottom: 0;
  left: 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.footer a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-icons {
  display: flex;
  gap: 10px;
}

.footer-icons i {
  font-size: 1.4rem;
}
