
.recommendations-content {
    background: rgba(255, 255, 255, 0.85); 
    padding: 40px; 
    border-radius: 20px; 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    max-width: 1300px;
    width: 100%;
    text-align: center;
    margin: 40px auto; 
    backdrop-filter: blur(10px);
}

/* Title styling */
.recommendations-title {
    color: #003366; 
    font-size: 2.4rem;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: 700; 
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1); 
}

/* Recommendations list styling */
.recommendations-list {
    display: flex;
    flex-direction: column;
    gap: 25px; 
    margin-bottom: 30px; 
}

/* Recommendation card styling */
.recommendation-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); 
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.recommendation-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
}

/* Job Title styling */
.job-title {
    color: #283b4e; 
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 10px;
}

/* Skills list styling */
.skills-container {
    margin-top: 15px; 
}

.skills-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 12px; 
}

.skill-item {
    background-color: #023d77;
    color: #fff;
    padding: 8px 15px; 
    border-radius: 15px;
    font-size: 1.2rem; 
    font-weight: 500; 
}

.no-recommendations {
    color: #999;
    font-size: 1.3rem;
    margin: 20px 0;
    font-style: italic;
}

/* Back button styling */
.back-button {
    margin-top: 20px;
    padding: 12px 25px;
    background: linear-gradient(135deg, #232a28, #00bcd4);

    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.back-button:hover {
    background-color: #218838; 
    transform: scale(1.05); 
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  body {
    transition: opacity 0.5s ease-in-out;
  }
  
  